body {
    color: black;
}
.container {
    //background-color: #f8f8f8;
    padding: 1%;
    max-width: 2000px!important;
}
.ul {
    list-style: none;
    display: flex;
    padding: 20px 0 20px 0;

    .menu-li {
        margin-left: 30px;
        color: #999999;
    }
}
.header-fon {
    background-color: #000;
    color: white;
    padding: 40px 0 40px 0;
}
.header-down-fon {
    background-color: #efefef;
}
.address {
    padding: 20px 0 20px 0;
}
.title-1 {
    //padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 40px;
}