.images {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 40px !important;
    margin-bottom: 60px;
}
.img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
}
.title-image {
    font-size: 14px;
}
.images-main {
    width: 100px;
    margin-left: 100px;
}
.text-content {
    margin-left: 400px;
    font-family: 'Montserrat', sans-serif;
}