<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Изготовление лестниц - На деревянном каркасе, на металлической и на бетоном основании</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/css/HeaderStyles.css" rel="stylesheet" />
    <link href="~/css/MainStyles.css" rel="stylesheet" />
    <link href="~/css/FooterStyles.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
</head>
<body>
    <!-- Блок контента хидера -->
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header">
            <div class="row row-header">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-left address">
                    <img src="https://img.icons8.com/small/16/000000/order-delivered.png">
                    <span>Санкт-Петербург</span>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 menu-top text-right">
                    <ul class="ul">
                        <li class="menu-li"><a href="#">Проекты</a></li>
                        <li class="menu-li"><a href="#">Прайс-лист</a></li>
                        <li class="menu-li"><a href="#">Услуги</a></li>
                        <li class="menu-li"><a href="#">Статьи</a></li>
                        <li class="menu-li"><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 header-fon">
            <div class="row row-black">
                <div class="col-lg-6 text-left">
                    <h1>Лестницы Вертикаль СПб</h1>
                    <a href="javascript:;" onclick="returnMain();return false;" class="return">
                        Лестницы из Дуба, Бука, без скрипа.<br />
                        Ограждение из стекла , ковка , резьба.<br />
                        Деревянные Балки. Кабинеты, ОГРАЖДЕНИЕ для террас.<br />
                        Срочные заказы.
                    </a>
                </div>
                <div class="col-lg-6 text-right cont">
                    <h3>+7 921 969-67-54</h3><br />
                    <h3>Михаил</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-down-fon">
            <ul class="ul">
                <li class="menu-li"><a href="#">Изготовление лестниц</a></li>
                <li class="menu-li"><a href="#">Облицовка бетонных лестниц</a></li>
            </ul>
        </div>
        <div class="col-lg-2 title-1">
            <p>Лестницы Вертикаль СПб</p>
        </div>
        <div class="col-lg-10">
            &nbsp;
        </div>
        <div id="idTest" class="block-left-menu">
            <a class="text-left a-left">Изготовление лестниц из дерева</a>
            <a class="text-left a-left">Изготовление лестниц на бетоном основании</a>
            <a class="text-left a-left">Изготовление лестниц на металлическом каркасе</a>
            <a class="text-left a-left">Изготовление лестниц с подсветкой</a>
            <a class="text-left a-left">Изготовление лестниц эконом класса из сосны</a>
            <div id="block-title-new" class="block-title-new">
                @model IEnumerable<StairsManufacturing.Models.Index.IndexModel>
                @foreach (var el in Model) {
                    <div id="title-dop" class="col-lg-12 price-title text-center">
                        <h1 id="title-dop-dop" class="text-center">@el.NAME_PHOTO</h1>
                        <h3 id="price" class="text-center col-md-12 col-sm-12 col-xs-12">@el.PRICE руб.</h3>
                    </div>
                    break;
                }
                <div id="idDopImg" class="images col-md-12 col-sm-12 col-xs-12">
                    <div class="slider" style="width: 50%; margin-left: 100px;">
						<div class="slider__wrapper">
							@foreach (var item in Model) {
								<div class="slider__item">
									<div class="boo" style="height: 250px;">
										<a class="fancybox-button" rel="fancybox-button" href="@Url.Content(item.IMAGE_PHOTO.Replace("wwwroot", "~"))">
											<img width="200" height="200" src="@Url.Content(item.IMAGE_PHOTO.Replace("wwwroot", "~"))" /> <br />
										</a>
									</div>
								</div>
							}
						</div>
                        <a class="slider__control slider__control_left" href="#" role="button"></a>
                        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
                    </div>
                </div>
                <script>
					'use strict';
					$('.imgs').click(function () {
						$('.imgs').classList.toggle('show');
    });
                    var multiItemSlider = (function () {
                        return function (selector, config) {
                            var
                                _mainElement = document.querySelector(selector), // основный элемент блока
                                _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
                                _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
                                _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
                                _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
                                _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
                                _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
                                _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента
                                _positionLeftItem = 0, // позиция левого активного элемента
                                _transform = 0, // значение транфсофрмации .slider_wrapper
                                _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
                                _items = [], // массив элементов
                                _interval = 0,
                                _config = {
                                    isCycling: false, // автоматическая смена слайдов
                                    direction: 'right', // направление смены слайдов
                                    interval: 5000, // интервал между автоматической сменой слайдов
                                    pause: true // устанавливать ли паузу при поднесении курсора к слайдеру
                                };

                            for (var key in config) {
                                if (key in _config) {
                                    _config[key] = config[key];
                                }
                            }

                            // наполнение массива _items
                            _sliderItems.forEach(function (item, index) {
                                _items.push({ item: item, position: index, transform: 0 });
                            });

                            var position = {
                                getItemMin: function () {
                                    var indexItem = 0;
                                    _items.forEach(function (item, index) {
                                        if (item.position < _items[indexItem].position) {
                                            indexItem = index;
                                        }
                                    });
                                    return indexItem;
                                },
                                getItemMax: function () {
                                    var indexItem = 0;
                                    _items.forEach(function (item, index) {
                                        if (item.position > _items[indexItem].position) {
                                            indexItem = index;
                                        }
                                    });
                                    return indexItem;
                                },
                                getMin: function () {
                                    return _items[position.getItemMin()].position;
                                },
                                getMax: function () {
                                    return _items[position.getItemMax()].position;
                                }
                            }

                            var _transformItem = function (direction) {
                                var nextItem;
                                if (direction === 'right') {
                                    _positionLeftItem++;
                                    if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
                                        nextItem = position.getItemMin();
                                        _items[nextItem].position = position.getMax() + 1;
                                        _items[nextItem].transform += _items.length * 100;
                                        _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                                    }
                                    _transform -= _step;
                                }
                                if (direction === 'left') {
                                    _positionLeftItem--;
                                    if (_positionLeftItem < position.getMin()) {
                                        nextItem = position.getItemMax();
                                        _items[nextItem].position = position.getMin() - 1;
                                        _items[nextItem].transform -= _items.length * 100;
                                        _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                                    }
                                    _transform += _step;
                                }
                                _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
                            }

                            var _cycle = function (direction) {
                                if (!_config.isCycling) {
                                    return;
                                }
                                _interval = setInterval(function () {
                                    _transformItem(direction);
                                }, _config.interval);
                            }

                            // обработчик события click для кнопок "назад" и "вперед"
                            var _controlClick = function (e) {
                                if (e.target.classList.contains('slider__control')) {
                                    e.preventDefault();
                                    var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
                                    _transformItem(direction);
                                    clearInterval(_interval);
                                    _cycle(_config.direction);
                                }
                            };

                            var _setUpListeners = function () {
                                // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
                                _sliderControls.forEach(function (item) {
                                    item.addEventListener('click', _controlClick);
                                });
                                if (_config.pause && _config.isCycling) {
                                    _mainElement.addEventListener('mouseenter', function () {
                                        clearInterval(_interval);
                                    });
                                    _mainElement.addEventListener('mouseleave', function () {
                                        clearInterval(_interval);
                                        _cycle(_config.direction);
                                    });
                                }
                            }

                            // инициализация
                            _setUpListeners();
                            _cycle(_config.direction);

                            return {
                                right: function () { // метод right
                                    _transformItem('right');
                                },
                                left: function () { // метод left
                                    _transformItem('left');
                                },
                                stop: function () { // метод stop
                                    _config.isCycling = false;
                                    clearInterval(_interval);
                                },
                                cycle: function () { // метод cycle
                                    _config.isCycling = true;
                                    clearInterval(_interval);
                                    _cycle();
                                }
                            }

                        }
                    }());

                    var slider = multiItemSlider('.slider', {
                        isCycling: true
                    })

                </script>              
            </div>
        </div>
    </div>
    @*<div class="block-empty">&nbsp;</div>*@
<div class="advantages col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row r-space">
        <div class="col-lg-2 preim">
            <span>
                НА РЫНКЕ С 2011 ГОДА
            </span>
        </div>
        <div class="col-lg-2 preim">
            <span>
                ОПЫТНЫЕ МАСТЕРА
            </span>
        </div>
        <div class="col-lg-2 preim">
            <span>
                СОВРЕМЕННОЕ<br />
                ОБОРУДОВАНИЕ
            </span>
        </div>
        <div class="col-lg-2 preim">
            <span>
                БОЛЕЕ 500<br />
                ВЫПОЛНЕННЫХ ЗАКАЗОВ
            </span>
        </div>
    </div>
</div>
    <!-- Футер -->
    <div class="footer col-lg-12">
        <div class="row foot">
            <div class="col-lg-6 text-left">
                <h3>Лестницы Вертикаль СПб</h3>
            </div>
            <div class="col-lg-6 text-right">
                <div>
                    <span class="foot-link" href="#">«Лестницы Вертикаль СПб» – столярная мастерская по изготовлению лестниц ручной работы класса PREMIUM. Изготавливает на заказ и монтирует "под ключ" лестницы по индивидуальным и типовым проектам с 2011 года.</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>